## Namespace
namespace: default
environment: staging
# Cloud provider
cloudProvider: aws
AWS_SSL_ARN: false
serviceType: LoadBalancer

# ====================================================
# Jupiter-notebook App, tensorflow/tensorflow:nightly-gpu-jupyter
# ====================================================
jbook:
  enabled: true
  image:
    name: tensorflow/tensorflow
    tag: latest-gpu-jupyter
  env:
    CUSTOM_ENV_VARS: xyz
  persistenceDisk:
    enabled: true
    AWS_ElasticBlockStore_volumeID: vol-0e7ace8cb47d2ae09
    AWS_ElasticBlockStore_size: 20Gi
    mountPath: /tf/tensorflow-tutorials
  nodeSelector:
    enabled: true
    label_key: nodegroup_type
    label_value: g5-xlarge-ondemand
